<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>
                Welcome to Recipe Finder!!
            </h1>
            <p>
                View our hand-picked recipes from all over the world
            </p>
            <p>
                <a class="button btn-primary btn-lg" href="/recipes/addRecipe">Add a new recipe</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">

        <% recipes.forEach(function(recipe){ %>
        <div class="col-md-3 col-sm-6">

            <div class="thumbnail">
                <img class="" src="<%= recipe.image %>" height="150px" width="150px" >

                    <div class="caption">
                        <h4>
                            <%= recipe.title %>
                        </h4>
                    </div>
                    <div>
                        <p>
                            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
            </div>
        </div>
        <% });%>
    </div>
</div>
<% include ./partials/footer %>