<% include partials/header %>
<div class="container">
    <h2>Home Page</h2>

    <p style="font-style:italic; font-size: 30px">Welcome to this wonderful world of Recipes...!!!!!</p>
        
        
    <a href="/recipes">View All Recipes</a>
        
        
</div>


<% include partials/footer %>
