<% include ./partials/header %>

<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <label >(10 Digit phone Number)</label>
      <input
        type="text"
        name="phoneNumber"
        pattern="[0-9]{10}"
        id="phoneNumber"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <a href="/login" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>

<% include ./partials/footer %>
